html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
   background-image: url(https://cdn.pixabay.com/photo/2015/09/17/10/30/banner-943866_1280.jpg);
    padding: 10px 20px 0px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 25px;
}
.header {
    min-height: 150px;
    text-align: center;
    font-size: 30px;
    color: #0b3633;
    
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    color: #0b3633;
    text-align: justify;
    
    
} 
table tr td{
    border: solid 1px black;
}  
table thead th{
    background-color: rgb(77, 74, 74);
    color: white;
    cursor: pointer;
    border: solid 1px black;
    
}
table tbody tr:nth-child(even){
    background-color: rgb(196, 193, 193) ;
    color: black;
    
}
table tbody tr:hover td{
    background-color: rgba(248, 122, 4, 0.288) ;
    cursor: pointer;
    
}
.footer {
    background-image: url(https://cdn.pixabay.com/photo/2015/11/19/08/52/banner-1050629_1280.jpg);
    min-height: 75px;
    text-align: center;
    color: white;
    padding-top: 30px;
    max-height: max-content;
}